---
layout: default
title: Archive
permalink: /archive/
---

<h1>Newsletter Archive</h1>

<ul class="archive-list">
{% for newsletter in site.data.newsletters %}
  <div class="newsletter-archive-item">
    <button class="toggle-btn" onclick="toggleContent('content-{{ newsletter.date }}')">
      {{ newsletter.title }}
    </button>
    <div id="content-{{ newsletter.date }}" class="newsletter-content" style="display: none; margin: 1em 0;">
      {% if newsletter.collaborazione %}
        <h3>Collaborazioni</h3>
        <ul>
          {% for item in newsletter.collaborazione %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if newsletter.eventi %}
        <h3>Eventi</h3>
        <ul>
          {% for item in newsletter.eventi %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if newsletter.lavoro %}
        <h3>Lavoro</h3>
        <ul>
          {% for item in newsletter.lavoro %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if newsletter.risorse %}
        <h3>Risorse</h3>
        <ul>
          {% for item in newsletter.risorse %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endfor %}

</ul>

<script>
function toggleContent(id) {
  const el = document.getElementById("content-" + id);
  if (el.style.display === "none") {
    el.style.display = "block";
  } else {
    el.style.display = "none";
  }
}
</script>
