---
layout: default
title: Archive
permalink: /archive/
---

<h1>Newsletter Archive</h1>

{% assign keys = site.data.newsletters | keys | sort | reverse %}
{% for k in keys %}
  {% assign nl = site.data.newsletters[k] %}
  <article>
    <h2>{{ nl.title }}</h2>
    <p><em>{{ nl.date }}</em></p>

    {% if nl.collaborazione %}
      <h3>Collaborazione</h3>
      <ul>
        {% for item in nl.collaborazione %}
          <li>
			{{ item.text | default: item }}
			{% if item.file %}
				<a class="download-btn" href="{{ item.file }}" download>📎 Allegato</a>
			{% endif %}
		  </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if nl.eventi %}
      <h3>Eventi</h3>
      <ul>
        {% for item in nl.eventi %}
          <li>
  {{ item.text | default: item }}
  {% if item.file %}
    <a class="download-btn" href="{{ item.file }}" download>📎 Allegato</a>
  {% endif %}
</li>

        {% endfor %}
      </ul>
    {% endif %}

    {% if nl.lavoro %}
      <h3>Opportunità di lavoro</h3>
      <ul>
        {% for item in nl.lavoro %}
          <li>
  {{ item.text | default: item }}
  {% if item.file %}
    <a class="download-btn" href="{{ item.file }}" download>📎 Allegato</a>
  {% endif %}
</li>

        {% endfor %}
      </ul>
    {% endif %}

    {% if nl.risorse %}
      <h3>Risorse</h3>
      <ul>
        {% for item in nl.risorse %}
          <li>
  {{ item.text | default: item }}
  {% if item.file %}
    <a class="download-btn" href="{{ item.file }}" download>📎 Allegato</a>
  {% endif %}
</li>

        {% endfor %}
      </ul>
    {% endif %}
  </article>
{% endfor %}
