---
layout: default
---

<h1>{{ page.newsletter.title }}</h1>
<p><em>{{ page.newsletter.date }}</em></p>

<h3>Collaborazione</h3>
<ul>
{% for item in page.newsletter.collaborazione %}
  <li>{{ item }}</li>
{% endfor %}
</ul>

<h3>Eventi</h3>
<ul>
{% for item in page.newsletter.eventi %}
  <li>{{ item }}</li>
{% endfor %}
</ul>

<h3>Lavoro</h3>
<ul>
{% for item in page.newsletter.lavoro %}
  <li>{{ item }}</li>
{% endfor %}
</ul>

<h3>Risorse</h3>
<ul>
{% for item in page.newsletter.risorse %}
  <li>{{ item }}</li>
{% endfor %}
</ul>
