---
layout: default
title: Tags
permalink: /tags/
---

<h1>Archivio per categoria</h1>

<h2>Collaborazione</h2>
<ul>
{% for nl in site.data.newsletters %}
  {% for item in nl[1].collaborazione %}
    <li>{{ item }} <small>({{ nl[1].title }}, {{ nl[1].date }})</small></li>
  {% endfor %}
{% endfor %}
</ul>

<h2>Eventi</h2>
<ul>
{% for nl in site.data.newsletters %}
  {% for item in nl[1].eventi %}
    <li>{{ item }} <small>({{ nl[1].title }}, {{ nl[1].date }})</small></li>
  {% endfor %}
{% endfor %}
</ul>

<h2>Lavoro</h2>
<ul>
{% for nl in site.data.newsletters %}
  {% for item in nl[1].lavoro %}
    <li>{{ item }} <small>({{ nl[1].title }}, {{ nl[1].date }})</small></li>
  {% endfor %}
{% endfor %}
</ul>

<h2>Risorse</h2>
<ul>
{% for nl in site.data.newsletters %}
  {% for item in nl[1].risorse %}
    <li>{{ item }} <small>({{ nl[1].title }}, {{ nl[1].date }})</small></li>
  {% endfor %}
{% endfor %}
</ul>
