---
layout: default
title: Tags
permalink: /tags/
---

<h1>Archivio per Tag</h1>

<h2>Collaborazione</h2>
<ul>
{% for nl in site.data.newsletters %}
  {% for item in nl[1].collaborazione %}
  <li>
  {{ item.text <small>({{ nl[1].title }}, {{ nl[1].date }})</small>| default: item }}
  {% if item.file %}
    <a class="download-btn" href="{{ item.file }}" download>📎 Allegato</a>
  {% endif %}
</li>
  {% endfor %}
{% endfor %}
</ul>

<h2>Eventi</h2>
<ul>
{% for nl in site.data.newsletters %}
  {% for item in nl[1].eventi %}
      <li>
  {{ item.text <small>({{ nl[1].title }}, {{ nl[1].date }})</small>| default: item }}
  {% if item.file %}
    <a class="download-btn" href="{{ item.file }}" download>📎 Allegato</a>
  {% endif %}
</li>
  {% endfor %}
{% endfor %}
</ul>

<h2>Lavoro</h2>
<ul>
{% for nl in site.data.newsletters %}
  {% for item in nl[1].lavoro %}
     <li>
  {{ item.text <small>({{ nl[1].title }}, {{ nl[1].date }})</small>| default: item }}
  {% if item.file %}
    <a class="download-btn" href="{{ item.file }}" download>📎 Allegato</a>
  {% endif %}
</li>
  {% endfor %}
{% endfor %}
</ul>

<h2>Risorse</h2>
<ul>
{% for nl in site.data.newsletters %}
  {% for item in nl[1].risorse %}
      <li>
  {{ item.text <small>({{ nl[1].title }}, {{ nl[1].date }})</small>| default: item }}
  {% if item.file %}
    <a class="download-btn" href="{{ item.file }}" download>📎 Allegato</a>
  {% endif %}
</li>
  {% endfor %}
{% endfor %}
</ul>
